/* Media Query para dispositivos móviles */
@media (max-width: 768px) {

    .logo{
        padding-left: 10px;
        height: 20px;
        width: auto;
    }

    .menu {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    h1{
font-size: large;
    }

    .nav {
        flex-direction: row;
        gap: 3px; /* Espacio entre los elementos del menú */
        font-size: xx-small;
    }

    .nav-item {
        margin: 0 5px;
    }

    .men {
        flex-direction: column; /* Cambia a dirección de columna para menú en dispositivos móviles */
        font-size:small;
      
  
      }
  
    .card-img-top {
      width: 100%; /* Ajusta la imagen al ancho completo en dispositivos móviles */
    }
  
    .imgpie {
      width: 30px; /* Ajusta el tamaño de las imágenes del pie de página en dispositivos móviles */
    }
  }